<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop2="http://schemas.microsoft.com/appx/manifest/desktop/windows10/2"
  IgnorableNamespaces="uap desktop rescap desktop2">

  <Identity
    Name="15275ichen.Aria2forUWP"
    Publisher="CN=F67D8B2C-93A6-482B-9BE2-00CD61030093"
    Version="1.1.28.0" />

  <Properties>
    <DisplayName>AK下载</DisplayName>
    <PublisherDisplayName>ichen</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="AK下载"
        Description="Package"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>

        <desktop:Extension Category="windows.fullTrustProcess" Executable="Win32/Launcher.exe">
          <desktop:FullTrustProcess>
            <desktop:ParameterGroup GroupId="StopGroup" Parameters="Stop"/>
            <desktop:ParameterGroup GroupId="OtherGroup" Parameters="/Other"/>
          </desktop:FullTrustProcess>
        </desktop:Extension>
        <uap:Extension Category="windows.protocol" Executable="Aria2UWP.exe" EntryPoint="Aria2UWP.App">
          <uap:Protocol Name="ariauwp" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer"/>
  </Capabilities>
  <Extensions>
    <desktop2:Extension Category="windows.firewallRules">
      <desktop2:FirewallRules Executable="Win32/aria2c.exe">
        <desktop2:Rule Direction="in" IPProtocol="TCP"  LocalPortMin="6800" LocalPortMax="6900" Profile="all"/>
        <desktop2:Rule Direction="out" IPProtocol="TCP"  LocalPortMin="6800" LocalPortMax="6900" Profile="all"/>
      </desktop2:FirewallRules>
    </desktop2:Extension>
  </Extensions>
</Package>
